@import "./animations.scss";

@mixin animatePop {
  animation-name: pop;
  animation-timing-function: ease-out;
}

@mixin animateSlideUp {
  animation-name: slideUp;
  animation-timing-function: linear;
}

@mixin animateSlideDown {
  animation-name: slideDown;
  animation-timing-function: linear;
}

@mixin animateSlideLeft {
  animation-name: slideLeft;
  animation-timing-function: ease-in-out;
}

@mixin animateSlideRight {
  animation-name: slideRight;
  animation-timing-function: ease-in-out;
}

@mixin animateFade {
  animation-name: fade;
  animation-timing-function: ease-out;
}

@mixin animate($animation, $duration: 0.1s, $reverse: false) {
  @if ($animation == pop) {
    @include animatePop;
  }

  @if ($animation == slide-up) {
    @include animateSlideUp;
  }

  @if ($animation == slide-down) {
    @include animateSlideDown;
  }

  @if ($animation == slide-left) {
    @include animateSlideLeft;
  }

  @if ($animation == slide-right) {
    @include animateSlideRight;
  }

  @if ($animation == fade) {
    @include animateFade;
  }

  @if ($reverse == true) {
    animation-direction: reverse;
  }

  animation-duration: $duration;
  animation-fill-mode: forwards;
}
